asn1crypto==0.24.0
backports.ssl-match-hostname==3.5.0.1
backports.weakref==1.0.post1
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
docker==3.2.1
docker-pycreds==0.2.2
idna==2.6
pycparser==2.18
pyOpenSSL==17.5.0
PyYAML==3.12
requests==2.18.4
six==1.11.0
urllib3==1.22
websocket-client==0.47.0
